<%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

    <% if @user.new_record? %>
      <p>
        <%= f.submit "Submit" %>
      </p>
    <% else %>
      <p>
        <%= f.submit "Update Account" %>
      </p>
    <% end %>
<% end %>

