<%= form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", autofocus: true %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

    <% if @user.new_record? %>
      <p>
        <%= f.submit "Submit", class: "btn btn-success btn-sm" %>
        <%= link_to "Cancel", resources_path %>
      </p>
    <% else %>
      <p>
        <%= f.submit "Update Account", class: "btn btn-success btn-sm" %>
        <%= link_to "Cancel", resources_path %>
      </p>
    <% end %>
<% end %>

