<h3>Profile for: <%= @user.name %></h3>

<% if current_user?(@user) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', user_path(@user), method: :delete %>
<% end %>

<div class="row">
  <% if current_user?(@user) && current_user_admin? %>
  <div class="col-xs-2">
    <%= link_to "All Users", users_path, class: "btn btn-success btn-sm" %>
  </div>
    <% end %>
</div>

<div class="row">
  <div class="col-xs-4">
    <h3>Favorite Resources:</h3>
    <% if @favorite_resources.any? %>
      <table class="table table-condensed table-striped user-resource-table">
        <% @favorite_resources.each do |resource| %>
          <tbody>
            <tr>
              <td><%= link_to "Visit Site", resource.link, :target => "_blank", class: "btn btn-primary btn-sm" %></td>
              <td><%= link_to resource.name, resource_path(resource) %></td>
            </tr>
          </body>
        <% end %>
      </table>
    <% else %>
      <h4>You have not identified any favorite resources yet.</h4>
    <% end %>
  </div>
</div>

<h3>My Reviews:</h3>
<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
    <li>
      <%= link_to review.resource.name, resource_path(review.resource) %>
      (rating: <%= review.rating %>) <q><%= review.comment %></q> (written on <%= format_date(review) %>)
    </li>
    <% end %> 
  </ul>
<% else %>
  <h4>You have not reviewed any resources yet.</h4>
<% end %>

