<header class="main-header">
  <nav>
    <p>
      <h1>CodeHub</h1>
    </p>
    <p>
      <% if current_user %>
        Welcome, <%= current_user.name %> |
        <%= link_to "Account Settings", edit_user_path(current_user) %>
        <%= link_to "Sign Out", session_path, method: :delete %> 
      <% else %>
        <%= link_to "Sign Up", signup_path, class: "button" %> |
        <%= link_to "Sign In", new_session_path, class: "button" %>
      <% end %>
    </p>
  </nav>
</header>

