<header class="main-header">
  <nav>
    <p>
      <h1>CodeHub</h1>
    </p>
    <p>
      <% if current_user %>
        Welcome, <%= link_to current_user.name, user_path(current_user) %> |
        <%= link_to "Account Settings", edit_user_path(current_user) %> |
        <%= link_to "Sign Out", session_path, method: :delete %> 
      <% else %>
        <%= link_to "Sign Up", signup_path %> |
        <%= link_to "Sign In", new_session_path %>
      <% end %>
    </p>
  </nav>
</header>

