<%= form_for @resource do |f| %>
  <%= render 'shared/errors', object: @resource %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 2, class: "form-control" %>
      <%= f.label "Link (All links must start with http://)" %>
      <%= f.text_field :link, class: "form-control", placeholder: "http://example.com" %>
    <p>
      <% if @resource.new_record? %>
        <%= f.submit "Create", class: "btn btn-success btn-sm" %> <span><%= link_to "Cancel", resources_path %></span>
      <% else %>
        <%= f.submit "Update", class: "btn btn-success btn-sm" %> <span><%= link_to "Cancel", resource_path(@resource) %></span>
      <% end %>
    </p>
<% end %>
