<%= form_for @resource do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5, class: "form-control" %>
      <%= f.label :link %>
      <%= f.text_field :link, class: "form-control" %>
    <p>
      <% if @resource.new_record? %>
        <%= f.submit "Create" %> <span><%= link_to "Cancel", resources_path %></span>
      <% else %>
        <%= f.submit "Update" %> <span><%= link_to "Cancel", resource_path(@resource) %></span>
      <% end %>
    </p>
<% end %>
