<h1>Editing Resource: <%= @resource.name %></h1>
<%= form_for @resource do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </p>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  <p>
  <%= f.submit "Update" %> <span><%= link_to "Cancel", resource_path(@resource) %></span>
  </p>
<% end %>
