<div class="col-xs-3">
<h3>Keyword Search</h3>
<form class="filter_form", method="get">
  <% Keyword.all.each do |k| %>
    <span class="cbt"><%= check_box_tag("keyword", k.name) %></span> <span class="cbt"><%= k.name %></span><br>
  <% end %>
  <input type="submit" value="Filter" />
</form>
</div>

<div class="col-xs-9">
<table class="table table-striped resources">
  <thead>
    <tr> 
      <th></th>
      <th>Resource</th>
      <th>Description</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
  <% @resources.each do |resource| %>
    <tr>
      <td><%= link_to "Visit Site", resource.link, :target => "_blank", class: "btn btn-primary btn-sm" %></td>
      <td><%= link_to resource.name, resource_path(resource) %></td>
      <td><%= resource.description %></td>
      <td><%= format_average_rating(resource) %></td>
    </tr>
  </tbody>
<% end %>
</table>
</div>
