<div class="col-xs-3">
<h3>Keyword Search</h3>
  <div class="filter_options_container">
    <form class="filter_form">
      <%= select("keyword", "keyword_id", Keyword.all.map {|k| [k.name, k.id] }) %>
      <input type="submit" value="Filter" />
    </form>
  </div>
</div>

<div class="col-xs-9">
<h3 class="resource-header"><%= @filter %> Resources</h3>
<table class="table table-striped resources">
  <thead>
    <tr> 
      <th></th>
      <th>Resource</th>
      <th>Description</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
  <% @resources.each do |resource| %>
    <tr>
      <td><%= link_to "Visit Site", resource.link, :target => "_blank", class: "btn btn-primary btn-sm" %></td>
      <td><%= link_to resource.name, resource_path(resource) %></td>
      <td><%= resource.description %></td>
      <td><%= format_average_rating(resource) %></td>
    </tr>
  </tbody>
<% end %>
</table>
</div>
