<% if current_user_admin? %>
<h1><%= @resource.name %></h1><%= link_to "Edit", edit_resource_path(@resource) %> | 
                              <%= link_to "Delete", resource_path(@resource), method: :delete %>
<% end %>

<h3>Description</h3>
<p>
  <%= @resource.description %>
</p>

<%= link_to "Write a review", new_resource_review_path(@resource) %>
<%= link_to "Reviews", resource_reviews_path(@resource) %>

