<div class="keyword-form">
  <%= form_for @keyword do |f| %>
    <%= f.text_field :name, autofocus: true, size: 25 %>
    <% if @keyword.new_record? %>
      <%= f.submit "Create Keyword", class: "btn btn-success btn-sm" %>
    <% else %>
      <%= f.submit "Update", class: "btn btn-success btn-sm" %> <%= link_to "Cancel", keywords_path %>
    <% end %>
  <% end %>
</div>
