<h3>Reviews</h3>

<% unless @previous_review %>
  <%= link_to "write a review", new_resource_review_path(@resource), class: "btn btn-success btn-sm" %>
<% end %>

<% if @reviews.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Rating</th>
      <th>User</th>
      <th>Comment</th>
      <th>Date Written</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= pluralize(review.rating, 'star') %></td>
        <td><%= link_to review.user.name, user_path(review.user) %></td>
        <td><q><%= review.comment %></q></td>
        <td><%= format_date(review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <h4>There are no reviews for this resource</h4>
<% end %>

