<h1>Review for: <%= @resource.name %></h1>

<form role="form">
<%= form_for([@resource, @review]) do |f| %>
  <%= render 'shared/errors', object: @review %>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, autofocus: true, cols: 40, rows: 5, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rating %>
    <%= f.number_field :rating, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Post Review", class: "btn btn-success btn-sm" %> <span><%= link_to "Cancel", resource_reviews_path(@resource) %></span>
  </div>
<% end %>
</form>
